.home-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    color: white;
    display: none;
}
.lines{
    background-color: rgba(255, 255, 255, 0.5);
    height: 40px;
    z-index: 12;
    padding: 0;
    color: transparent;
}
.lines p{
    transform: rotate(-90deg) translateX(-50%);
    position: absolute;
    left: 50%;
}
@keyframes rotatelines{
    0%{
        transform: rotate(0deg);
        margin: 0;
    }
    100%{
        transform: rotate(90deg);
        top: 50%;
    }
}
#lines1{
    position: absolute;
    top:50%;
    right: 0%;
    left: 100%;
    animation: linestoleft 2s ease-in-out forwards, rotatelines 1s ease forwards 5s, line1right .5s ease forwards 6.2s, shownum 1s ease forwards 7.2s;
}
#lines2{
    position: absolute;
    top: 60%;
    right: 0%;
    left: 100%;
    animation: linestoleft 2s ease-in-out forwards .3s, rotatelines 1s ease forwards 5s, shownum 1s ease forwards 7.2s;
}
#lines3{
    position: absolute;
    top: 70%;
    right: 0%;
    left: 100%;
    animation: linestoleft 2s ease-in-out forwards .6s, rotatelines 1s ease forwards 5s, line3right .5s ease forwards 6.2s, shownum 1s ease forwards 7.2s;
}
@keyframes line1right{
    to{
        left: 13%;
        right: 67%;
    }
}
@keyframes line3right{
    to{
        left: 27%;
        right: 53%;
    }
}
@keyframes linestoleft{
    0%{
        left: 100%;
        right: 0%;
    }
    100%{
        left: 20%;
        right:60%
    }
}
@keyframes shownum{
    to{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10em;
        color: rgba(255, 255, 255, 0.3);
        background-color: transparent;
        font-weight: 900;
    }
}
@keyframes showlineNnum{
    50%{
        font-weight: 1em;
        background-color: rgba(255, 255, 255, 0.5);
        color: transparent;
    }
    100%{
        font-size: 10em;
        color: rgba(255, 255, 255, 0.3);
        background-color: transparent;
    }
}
.navbar-brand{
    color: #fff !important;
    font-size: 12px !important;
}
.navbar-brand img{
    width: 120px;
}
.nav-link{
    color: #fff;
    font-size: 11px;
    font-weight: lighter;
    margin: 0px 40px;
}
nav{
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-top: 5px !important;
}
.side-navbar{
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 110px;
    min-height: 40px;
    z-index: 1000;
    /* background-color: tomato; */
}
.side-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-nav a div{
    height: 1px;
    width: 30px;
    background-color: #fff;
    transition: .8s;
}
.side-nav a{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-nav p{
    font-size: 12px;
    opacity: 0;
}
.side-nav:hover p{
    animation: sidetextactive .8s ease forwards;
}
.side-nav:hover a{
    animation: sidenavline .5s ease forwards;
}
@keyframes sidenavline{
    0%{
        transform: translatex(0px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.side-nav-active a div{
    animation: animatelinkline 1s ease forwards;
    transition: .8s;
    /* height: 3px !important;
    width: 20px; */
    background-color: #fff;
}
@keyframes animatelinkline{
    0%{
        width: 30px;
    }
    25%{
        width: 40px;
    }
    50%{
        width: 20px;
    }
    75%{
        width: 15px;
        height: 2px;
    }
    100%{
        width: 15px;
        height: 4px;
    }
}
.side-nav-active p{
    animation: sidetextactive .8s ease forwards;
}
@keyframes sidetextactive{
    from{
        letter-spacing: 3px;
        opacity: 0;
    }
    to{
        letter-spacing: 0px;
        opacity: 1;
    }
}
.cont-abt-block{
    position: fixed;
    top: 50%;
    left: 6%;
    transform: translate(-50%,-50%) rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.cont-abt-block .cont-abt-line{
    width: 70px;
    height: 3px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.cont-abt-block .cont-abt-line div{
    width: 0%;
    height: 1px;
    animation: CAline 1s ease forwards;
    background-color: #fff;
}
@keyframes CAline{
    to{
        width: 100%;
    }
}
.cont-abt-block .contact,.cont-abt-block .about{
    margin: 0px 30px;
}
.cont-abt-block a{
    color: #fff !important;
    font-size: 12px;
}
.scroll{
    position: fixed;
    bottom: 3%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.scroll a{
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}
.scroll div{
    position: absolute;
    /* width: 30px; */
    height: 2px;
    background-color: #fff;
    right: 100%;
    left: -400%;
    animation: scrollline 1s ease forwards;
}
@keyframes scrollline{
    to{
        left: -100%;
    }
}

.text-animation-udesh span{
    margin: 0px;
    padding: 0px;
    letter-spacing: -2px;
    opacity: 0;
    transition: .5s;
}
@keyframes text-anime{
    to{
        opacity: 1;
    }
}
.letter1{
    animation: text-anime 1s ease forwards .3;
}
.letter2{
    animation: text-anime 1s ease forwards .6s;
}
.letter3{
    animation: text-anime 1s ease forwards .9s;
}
.letter4{
    animation: text-anime 1s ease forwards 1.2s;
}
.letter5{
    animation: text-anime 1s ease forwards 1.5s;
}
.letter6{
    animation: text-anime 1s ease forwards 1.8s;
}
.letter7{
    animation: text-anime 1s ease forwards 2.1s;
}
.text-animation-udesh:hover{
    color: darkgray;
    /* font-size: 14px; */
}
.text-animation-udesh:hover .letter1{
    transform: rotateX(90deg);
    transition: .5s;
    color: #fff !important;
    opacity: 1;
    /* font-weight: bold; */
    text-decoration: underline;
} 
.nav-item{
    position: relative;
}
.activeNav{
    opacity:0;
    position: absolute;
    right: 20%;
    left: 20%;
    height: 1px;
    background-color: grey;
    border-radius: 10px;
    animation: animateNavLine 1.5s ease forwards .8s;
}
@keyframes animateNavLine{
    0%{
        opacity: 1;
        transform: translateX(2000px);
        width: 600%;
    }
    100%{
        transform: translateX(0px);
        width: auto;
        opacity: 1;
    }
}
.activeNav .navProgress{
    transition: .5s !important;
    position: absolute;
    background-color: #fff;
    height: 1px;
}
.notActiveNav{
    animation: removeNavLine 1s ease forwards;
}
@keyframes removeNavLine{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-2000px);
        opacity: 1;
    }
}
.slideNameOnEveryPage{
    font-size: 16px;
}
.all-next-text{
    font-size: 13px;
}