#wrapper{
    /* background: #0d6fba; */
    display: inline-block;
    border-radius: 500px;
    margin: 0px;
    position: relative;
    padding: 0px;
    cursor: pointer;
    opacity: 0;
    animation: menuOP 1s ease forwards;
}
@keyframes menuOP{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
        opacity: 1;
    }
}
.circle{
    width: 15px;
    height: 15px;
    position: relative;
}
.line{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff !important;
    border-radius: 8px;
    transition: all cubic-bezier(0.26,0.1,0.27,1.55),0.35s;
}
.icon.close .lines{
    background-color: #fff !important;
}
.top{
    top:22%;
}
.middle{
    top: 48%;
}
.bottom{
    top: 78%;
}
.icon.close .top{
    transform: rotate(45deg);
    top: 48%;
    background-color: #fff !important;
}
.icon.close .middle, .icon.close .bottom{
    transform: rotate(-45deg);
    top: 48%;
    background-color: #fff !important;
}
