.menu-screen{
    height: 100vh;
    width: 100%;
    background-color:rgb(24, 23, 23);
    position: absolute;
    z-index: 1000;
    top: 0%;
    display: none;
}
.menu-added-from-js{
    display: block;
    /* animation: menuDown 1s ease-in forwards; */
    animation: menuDown 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes menuDown{
    from{
        top: -100%;
        display: block;
    }
}
.menu-removed-from-js{
    animation: menuUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes menuUp{
    to{
        top: -100%;
    }
}
.menu-items{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    line-height: 2.5;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.menu-items a{
    text-decoration: none !important;
    color: lightslategray !important;
}
.menu-items ul{
    text-decoration: none;
    list-style-type: none;
}
.menu-items ul li{
    font-size: 30px;
    font-weight: 100;
    color: rgb(180, 178, 178);
    cursor: pointer;
}
.menu-items ul ul{
    line-height: 2;
    margin: 0px;
    padding: 0px 10px;
}
.menu-items ul ul li{
    font-size: 16px;
    font-weight: lighter;
    color: lightslategray;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.menu-items ul ul li div{
    height: 1px;
    width: 0px;
    background-color: #fff;
    margin-right: 5px;
    transition: 1s;
}
.menu-items ul ul li:hover div{
    width: 30px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.media-box{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translateY(-50%);
    display: flex;
}
.media-box div{
    width: 120px;
    height: 120px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(180, 178, 178);
    color: rgb(180, 178, 178);
    font-size: 20px;
    transition: 1s;
}
.fb:hover{
    transition: 1s;
    color: #3b5999;
    border-color: #3b5999;
}
.insta:hover{
    transition: 1s;
    color: #e4405f !important;
    border-color: #e4405f;
}
.tw:hover{
    transition: 1s;
    color: #55acee;
    border-color: #55acee;
}
.git:hover{
    transition: 1s;
    color: #fff;
    border-color: #fff;
}
.media-box a{
    text-decoration: none !important;
}
.contact-info{
    display: flex;
    width: 25%;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translateY(-50%);
    padding-left: 20px;
}
.contact-info div{
    justify-content: center;
    border: 1px solid rgb(180, 178, 178);
    padding: 20px 20px;
    /* border-radius: 20px; */
    font-size: 12px;
    align-items: center;
}