@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
    background-color:#242424 !important;
}
.whole-container{
    height: 100vh;
    width: 100%;
    position: relative;
}
.sizeErr{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:#242424;
    z-index: 9999;
}