@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
}
.whole-container{
    height: 100vh;
    width: 100%;
    position: relative;
}