html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-box{
    width: 40px;
    height: 40px;
    background-color: lightblue;
    position: relative;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.l1{
    height: 2px;
    width: 80%;
    background-color: #fff;
    margin: 3px 0px;
    position: absolute;
    top: 30%;
    /* transform: translateY(-50%); */
}
.l2{
    height: 2px;
    width: 80%;
    background-color: #fff;
    margin: 3px 0px;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
}
.l3{
    height: 2px;
    width: 80%;
    background-color: #fff;
    margin: 3px 0px;
    position: absolute;
    top: 70%;
    /* top: 70%; */
    /* transform: translateY(-50%); */
}
.l{
    transform: rotate(-60deg);
    transform-origin: top;
}
